python al.py --sensors "[Bath,Bathroom,BathroomDoor,BathroomLight,Bed,Bedroom,BedroomDoor,BedroomLight,Chair,Closet,ClosetDoor,ClosetLight,Couch,Desk,DiningRoom,DiningRoomLight,Entry,FrontDoor,FrontDoorLight,GarageDoor,GuestBathroom,GuestRoom,Hall,HallLight,Kitchen,KitchenCabinet,KitchenLight,LaundryRoom,LivingRoom,LivingRoomLight,LoungeChair,MedCabinet,Office,OfficeLight,OtherRoom,OutsideDoor,Refrigerator,Sink,Stove,TV,Toilet,WorkArea,WorkAreaLight,Ignore]" --activities "[Sleep,Other_Activity,Bed_Toilet_Transition,Toilet,Morning_Meds,Dress,Read,Cook_Breakfast,Eat_Breakfast,Wash_Breakfast_Dishes,Relax,Sleep_Out_Of_Bed,Personal_Hygiene,Take_Medicine,Work,Bathe,Groom,Cook_Lunch,Eat_Lunch,Wash_Lunch_Dishes,Drink,Watch_TV,Leave_Home,Enter_Home,Cook_Dinner,Eat_Dinner,Wash_Dinner_Dishes,Work_At_Table,Cook,Eat,Wash_Dishes,Phone,Step_Out,Entertain_Guests]" --mode TEST model hh102<datafilename>
